.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog-main-container {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  max-width: 900px;
}

.blog-content {
  width: 70%;
}

.blog-cells {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-cell {
  border: 1px solid #dad9d9;
  min-height: 70px;
  min-width: 100px;
  border-radius: 10px;
  width: 46%;
}

.blog-side-container {
  border: 1px solid #dad9d9;
  width: 30%;
  border-radius: 10px;
  height: 620px;
}

.recent-post-main {
  border: 1px solid #dad9d9;
  border-radius: 10px;
  padding: 10px;
  min-height: 130px;
}

.recent-post {
  border: 1px solid #dad9d9;
  border-radius: 10px;
  padding: 10px;
  min-height: 80px;
}

.controller-btns {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
