.custom-select {
  border-radius: 10px;
  font-weight: 500;
  padding: 10px !important;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .custom-select {
    display: none;
  }
}

.custom-select::before {
  color: blue;
}

.side-bar-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .side-bar-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .skills-header {
    margin-left: 60px;
  }

  .portfolio-header {
    margin-left: 40px;
  }

  .availability-header {
    margin-left: 23px;
  }
}

.activeType {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .location {
    font-size: 12px;
  }

  .interested-btn-container {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  .interested-btn-container-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .interested-btn-container {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .interested-btn-container-desktop {
    display: flex;
    max-width: 80%;
  }
}

.btns-container {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 20px 4fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.skill-header {
  grid-row: 1;
  grid-column: 1;
}

.react {
  grid-row: 1;
  grid-column: 3;
}

.card-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .card-container-mobile {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 20px 4fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .skill-header {
    grid-row: 1;
    grid-column: 1;
  }

  .react {
    grid-row: 1;
    grid-column: 3;
  }

  .portfolio {
    grid-row: 2;
    grid-column: 1;
  }

  .ekart {
    grid-row: 2;
    grid-column: 3;
  }

  .available {
    grid-row: 3;
    grid-column: 1;
  }

  .yes {
    grid-row: 3;
    grid-column: 3;
  }
}

.no-applications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
