.custom-select {
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .custom-select {
    display: none;
  }
}

.custom-select::before {
  color: blue;
}

.side-bar-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .side-bar-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .skills-header {
    margin-left: 60px;
  }

  .portfolio-header {
    margin-left: 40px;
  }
}
