.custom-select {
  background-color: rgb(210, 207, 207);
  border-radius: 10px;
  color: rgb(0, 0, 240);
  font-weight: 500;
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.custom-select:hover {
  background-color: rgb(177, 174, 174);
}

.custom-select:active {
  background-color: #3f51b5;
}

.custom-select::before {
  color: blue;
}
