.modal-body {
  padding: 6px;
}
.preview-skills {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 25px;
  font-size: 15px;
  padding: 8px;
  max-width: 250px;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.projects-list {
  list-style-type: disc;
}

.achievements-container {
  display: flex;
  justify-content: space-between;
}

.languages-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 400;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 670px;
}

@media screen and (min-width: 768px) {
  .preview-date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .school-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
  }

  .desktop-date {
    display: block;
  }

  .mobile-date {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-date {
    display: none;
  }
}
