.year-date {
  border-radius: 6px;
  margin-top: 7px;
  border: 1px solid #ccc;
  height: 35px;
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}
