.dropdown-menu.show {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .nav-link-container {
    flex-direction: row;
  }
}

.website-name {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.toggle-theme-wrapper {
  align-self: start;
  margin: 0;
}
