.languages {
  display: flex;
  gap: 20px;
}

.apply-button {
  color: #ffffff;
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 10px;
  background-color: rgb(135, 105, 226);
  font-family: "Roboto";
}

.job-details-container-fresher-2 {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .job-details-container-fresher-2 {
    grid-template-columns: repeat(3, minmax(0, 100px));
  }
}

.job-card-container-fresher:nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.job-card-container-fresher:nth-child(2) {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

@media screen and (max-width: 767px) {
  .job-card-container-fresher:nth-child(3) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
  }
}

@media screen and (min-width: 768px) {
  .job-card-container-fresher:nth-child(3) {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }
}

.job-card-container-fresher:nth-child(4) {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.job-card-container-fresher:nth-child(5) {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  white-space: nowrap;
}

.job-card-container-fresher {
  display: flex;
  align-items: center;
  font-size: 22px;
  height: 30px;
  width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.details-text {
  margin-bottom: 0;
}

.incentives-text {
  color: #272b2e !important;
}

@media screen and (min-width: 768px) {
  .incentives-text {
    font-size: 12px !important;
    margin-bottom: 5px;
  }
}
