.custom-select {
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .custom-select {
    display: none;
  }
}

.custom-select::before {
  color: blue;
}

.side-bar-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .side-bar-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .skills-header {
    margin-left: 60px;
  }

  .portfolio-header {
    margin-left: 40px;
  }

  .availability-header {
    margin-left: 23px;
  }
}

.activeType {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .location {
    font-size: 12px;
  }

  .interested-btn-container {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  .interested-btn-container-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .interested-btn-container {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .interested-btn-container-desktop {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
  }
}

.btns-container {
  display: flex;
  justify-content: space-between;
  min-width: 70%;
}

.company-header {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .card-container-mobile {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 20px 4fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .skill-header-e {
    grid-row: 1;
    grid-column: 1;
  }

  .react-e {
    grid-row: 1;
    grid-column: 3;
  }

  .letter-header-e {
    grid-row: 2;
    grid-column: 1;
  }

  .letter {
    grid-row: 2;
    grid-column: 3;
  }

  .current-e {
    grid-row: 3;
    grid-column: 1;
  }

  .current-company {
    grid-row: 3;
    grid-column: 3;
  }

  .previous-e {
    grid-row: 4;
    grid-column: 1;
  }

  .previous-company {
    grid-row: 4;
    grid-column: 3;
  }

  .notice-e {
    grid-row: 5;
    grid-column: 1;
  }

  .notice-period {
    grid-row: 5;
    grid-column: 3;
  }

  .available-e {
    grid-row: 5;
    grid-column: 1;
  }

  .yes-e {
    grid-row: 5;
    grid-column: 3;
  }

  .location {
    font-size: 16px;
  }
}

.application::-webkit-scrollbar {
  width: 0;
}
