@media screen and (min-width: 768px) {
  .search-filter-container {
    margin-left: 90px;
    margin-right: 90px;
  }
}

.custom-select {
  padding: 0px;
}

.popup-content {
  padding: 15px;
}

.desktop-resume-count {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-resume-container {
    display: flex;
  }

  .desktop-resume-count {
    display: block;
  }
}
