@media screen and (min-width: 768px) {
  .search-filter-container {
    margin-left: 90px;
    margin-right: 90px;
  }
}

.custom-select {
  padding: 0px;
}

.popup-content {
  padding: 15px;
}

.desktop-resume-count {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-resume-container {
    display: flex;
  }

  .desktop-resume-count {
    display: block;
  }
}

.card-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto;
  width: 300px;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.message-card {
  width: 12rem;
  height: 80%;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.hide-message-card {
  position: absolute;

  transform: translateX(-150%);
}

.popup-content {
  border-radius: 10px;
}
