.post-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.post-container {
  padding: 20px;
  width: 100%;
  max-width: 950px;
}

@media screen and (min-width: 768px) {
  .post-container {
    padding: 80px;
  }
}

.post-job-heading {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-job-header {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  color: #000000;
  display: flex;
}

.form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.form-check-input:checked {
  border: 2px solid #007bff;
}

.form-check-label {
  font-size: 1rem;
}
