.post-job-content {
  width: 90%;
  max-width: 1100px;
  border-radius: 7px;
  min-height: 300px;
  padding: 20px;
  background-color: white;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .post-job-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .post-job-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .option-container {
    min-width: 250px;
  }

  .post-job-content {
    margin-top: 150px;
  }
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  min-height: 100px;
  cursor: pointer;
}

.employee-unregistered-footer {
  background-color: #f0f0f0;
}

@media screen and (max-width: 767px) {
  .footer-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .employee-unregistered-footer {
    padding: 25px;
  }
}

@media screen and (min-width: 768px) {
  .footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .employee-unregistered-footer {
    padding: 50px;
  }
}

.footer-details {
  margin-bottom: 30px;
}

.footer-link {
  cursor: pointer;
}

.footer-link:hover {
  color: rgb(96, 106, 247);
}

.footer-sub-container {
  list-style-type: none;
  padding: 0;
  color: rgb(109, 108, 108);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-heading {
  color: black;
  margin-bottom: 5px;
}

.footer-icon {
  font-size: 25px;
  cursor: pointer;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .social-media-container {
    gap: 22px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom-text {
  color: rgb(109, 108, 108);
}

.media-coverage-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .carousel-card {
    width: 300px;
    text-align: center;
  }

  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .carousel-card {
    width: 1000px;
    text-align: center;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.employee-post-job-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

@media screen and (max-width: 767px) {
  .recommendation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .recommendation-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    gap: 10px;
  }
}

.popup-content {
  width: 80%;
  max-width: 700px;
}

@media (max-width: 767px) {
  .popup-content {
    width: 95%;
    max-width: none;
  }
}

.popup-content {
  overflow-y: auto;
  max-height: calc(100vh - 50px); /* adjust height as needed */
}

.landing-page-content {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .skeleton-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
