.employee-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.employee-login-btn {
  cursor: pointer;
}

.employee-login-btn:hover {
  color: blue;
}
