.icon-styles {
  color: grey;
  font-size: 20px;
}

.job-details-container-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.job-details-container-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .location-style {
    width: 100vw !important;
  }
}

.job-card-container {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 22px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.details-heading {
  color: grey;
  font-size: 13px;
  margin-top: 10px;
}

.details-heading-2 {
  color: grey;
  margin-top: 30px;
  font-size: 13px;
}

.home-heading {
  font-size: 10px;
  color: grey;
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .details-heading,
  .details-heading-2 {
    font-size: 18px;
  }

  .break-line,
  .empty-element {
    display: none;
  }
}

.languages {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .job-skill-container {
    display: none;
  }

  .perks-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .perks-mobile {
    display: none;
  }

  .perks-desktop {
    display: block;
  }

  .div-card {
    padding: 30px !important;
  }
}

.preview-perks {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  max-width: 250px;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .perks-mobile {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
