.icon-styles {
  color: grey;
  font-size: 22px;
  width: 25px;
}

.job-details-container-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.job-details-container-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .location-style {
    width: 100vw !important;
  }
}

.job-card-container {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 22px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.details-heading {
  color: grey;
  font-size: 15px;
  margin-top: 10px;
}

.details-heading-2 {
  color: grey;
  margin-top: 30px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .details-heading,
  .details-heading-2 {
    font-size: 18px;
  }

  .break-line,
  .empty-element {
    display: none;
  }
}

.languages {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .job-skill-container {
    display: none;
  }
}
