.login-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.login-form {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 500px;
  min-height: 400px;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  box-shadow: 0px 4px 15px #00000020;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-form-container {
  display: flex;
  justify-content: space-between;
  height: 90%;
  width: 95%;
  max-width: 300px;
  margin-bottom: 20px;
}

.option-btn {
  border: 0;
  background: transparent;
  outline: none;
}

.select-option-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.option-heading {
  font-family: "Roboto";
  font-size: 18px;
  margin: 0;
}

.select-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid grey;
  cursor: pointer;
}

.active-option {
  background-color: blueviolet;
}

.input-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 430px;
}

.input-field {
  width: 100%;
}

.error-msg {
  margin: 0;
  color: red;
}

.login-btn {
  border: none;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(86, 127, 233);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  width: 100%;
  max-width: 430px;
}

.forgot-text {
  color: rgb(104, 104, 249);
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.register-text {
  color: blue;
  cursor: pointer;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background: transparent;
}

/* Employee Login */

.employee-login-container {
  display: flex;
  gap: 20px;
  align-self: flex-start;
  margin-left: 15px;
  margin-top: 10px;
}

.employee-login-btn {
  border: 0;
  background: transparent;
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.inactive-login {
  color: rgba(135, 135, 135, 0.857);
}

.sales-login-container {
  margin-top: 25px;
  width: 100%;
  max-width: 430px;
}
