.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-body {
  width: 95%;
  border: 1px solid grey;
  border-radius: 8px;
  min-height: 400px;
  padding: 20px;
}

.options-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

form {
  width: 100%;
}
