.demo-editor {
  background-color: white;
  min-height: 250px;
  /* max-height: 300px;
  overflow-y: scroll; */
  padding: 0.5rem;
  overflow-x: hidden;
}

.public-DraftStyleDefault-block {
  margin: 0;
}

.DraftEditor-editorContainer {
  z-index: 0 !important;
}

.rdw-editor-wrapper {
  border: 1px solid #ced4da;
  border-radius: 2px !important;
}

.rdw-editor-toolbar {
  border: none !important;
  border-bottom: #ced4da 1px solid !important;
  padding: 0.5rem !important;
}

.rdw-option-wrapper {
  border: none !important;
}
