.resume-username {
  font-weight: 500;
  font-size: 21px;
}

.resume-side-heading {
  font-weight: 500;
  font-size: 21px;
  margin-top: 45px;
}

p {
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  .select-post-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-nav-mobile {
    display: none;
  }
}

.dashboard-options {
  display: none;
}

@media screen and (min-width: 768px) {
  .dashboard-options {
    display: block;
  }
}

.interested-btn-container-applicant {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 14%;
}

@media screen and (min-width: 768px) {
  .interested-btn-container-applicant {
    margin-left: 60px;
    bottom: 10%;
  }
}

.applicant-card::-webkit-scrollbar {
  width: 0;
}
